<br>
<br>
  <h2 class="title">Add Dealer</h2>
<br>
<br>
<h5 *ngIf="signupsMsg && signupsMsg.error" class="label-danger">{{signupsMsg.message}}</h5>
<h5 *ngIf="signupsMsg && !signupsMsg.error" class="label-success">{{signupsMsg.message}}</h5>
<form #dealerSignupForm="ngForm" id="contactForm" novalidate="" class="s-form wow zoomInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomInUp;" (ngSubmit)="dealerSignupByAdmin(dealerSignupForm)">                        
    <input type="text" placeholder="FIRST NAME" value="" name="firstname" id="firstname" #firstname="ngModel" ngModel>
    <input type="text" placeholder="LAST NAME" value="" name="lastname" id="lastname" #lastname="ngModel" ngModel>
    <input type="text" placeholder="EMAIL" value="" name="email" id="email" #email="ngModel" ngModel>
    <input type="text" placeholder="BUSINESS NAME" value="" name="businessname" id="businessname" #businessname="ngModel" ngModel>
    <input type="text" placeholder="CONTACT NO" value="" name="mobile_no" id="mobile_no" #mobile_no="ngModel" ngModel>
    <input type="password" placeholder="PASSWORD" value="" name="password" id="password" #password="ngModel" ngModel>
    <button type="submit" class="btn m-btn">Add New Dealer<span class="fa fa-angle-right"></span></button>
</form>