<br>
  <h2 class="title">Modify Cars</h2>
<br>
<div class="col-md-5">
  <ul class="list-group">
    <li *ngFor="let car of cars" class="list-group-item"><b>Name: </b> {{car.name}} <br/>
          <b>Model: </b> {{car.model_id}} <br/>
          <button type="button" class="btn btn-primary" *ngIf="car.show === false" (click)="setShow(car._id,!car.show)" >Show Car</button>
          <button type="button" class="btn btn-danger " *ngIf="car.show === true" (click)="setShow(car._id,!car.show)">Hide Car</button>
          <button type="button" class="btn btn-primary " *ngIf="car.featured === false" (click)="setFeatured(car._id,!car.featured)">SetFeatured Car</button>
          <button type="button" class="btn btn-danger " *ngIf="car.featured === true" (click)="setFeatured(car._id,!car.featured)">RemoveFeatured Car</button>
    </li>
  </ul>
</div>



<!-- <div class="col-md-3">
  <ul class="list-group">
  <li *ngFor="let car of cars" class="list-group-item">
    </li>
  </ul>
</div> -->