

<br>
  <h2 class="title">Dealer Approval</h2>
<br>
<div class="col-md-6">

<ul class="list-group">
  <li *ngFor="let dealer of dealers " class="list-group-item">{{dealer.email}} 
      <button type="button" class="btn btn-primary custom-buttom" *ngIf="dealer.approved === false" (click)="approvel(dealer._id,!dealer.approved)" >Aprrove</button>
      <button type="button" class="btn btn-danger custom-buttom" *ngIf="dealer.approved === true" (click)="approvel(dealer._id,!dealer.approved)">DisApprove</button>
  </li>
 
</ul>
</div>


<div class="col-md-3">

 
</div>




<!-- <ul>
  <li *ngFor="let dealer of dealers ">
    {{JSON.parse(dealer)}}
  </li>
</ul> -->
