.custom{
    border: none;
    border-left: 1px solid rgba(0, 26, 255, 0.87);
    margin-bottom: 4px;
}
.title{
    margin-bottom:10px;
    border-bottom:2px solid rgb(3, 133, 255);
    padding-bottom: 10px;
    color: rgb(3, 133, 255)
}
