<nav class="b-nav">
	<div class="container">
		<div class="row nav_container">
			<div class="col-sm-3 col-xs-4">
				<div class="b-nav__logo wow slideInLeft" data-wow-delay="0.3s"> &nbsp;
					<a href="" routerLink="/"><img src="/assets/images/logo/logo.png"></a>
					<!-- <h3><a  href="">Auto<span>Club</span></a></h3>
					<h2><a  href="">AUTO DEALER TEMPLATE</a></h2> -->
				</div>
			</div>
			<div class="col-sm-9 col-xs-8">
				<div class="b-nav__list wow slideInRight" data-wow-delay="0.3s">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse navbar-main-slide" id="nav">
						<ul class="navbar-nav-menu">							
							<li><a href="" routerLink="/">Home</a></li>
							<li><a  href="">About</a></li>
							<li><a  href="">Services</a></li>
							<li><a  href="">Blog</a></li>							
							<li><a href="" routerLink="/cars/listing">Cars</a></li>
							<li><a  href="">Contact</a></li>

							<!-- User login signup -->

							<li *ngIf="!loggedInUser.first_name">
								<a  href="" routerLink="/user/signup" class="btn btn_transparent btn-info">Signup</a>
							</li>
							<li *ngIf="!loggedInUser.first_name">
								<a  href="" routerLink="/user/login" class="btn btn_transparent btn-info">Login</a>
							</li>
							<li *ngIf="loggedInUser.first_name" class="dropdown" (mouseenter)="mouseEnter($event) "  (mouseleave) ="mouseLeave($event)">
								<a class="dropdown-toggle" data-toggle='dropdown' href="#"> Hi , {{loggedInUser.first_name}} <span class="fa fa-caret-down"></span></a>
								<ul class="dropdown-menu h-nav">
									<li><a  href="" >Update Profile</a></li>
									<li><a  href="" routerLink="/dealer/enquiries">Enquiries</a></li>									
									<li><a  href="">Listings</a></li>
									<li><a  href="">Add New Listing</a></li>
									<li><a href="" (click)="doLogout()">Logout</a></li>
								</ul>
							</li>

						</ul>
					</div>
				</div>
			</div>
			<!-- <div class="col-sm-2 col-md-2 text-right no-padding">
				<div *ngIf="!loggedInUser">
					<a  href="" routerLink="/user/register" class="btn btn_transparent btn-info">Signup</a> &nbsp;&nbsp;&nbsp;
					<a  href="" routerLink="/user/login" class="btn btn_transparent btn-info">Login</a>
				</div>
				<button class="btn btn-info" *ngIf="loggedInUser" (click)="doLogout();">Logout</button>
			</div> -->
		</div>
	</div>
</nav><!--b-nav-->