<section class="b-slider"> 
    <div id="carousel" class="slide carousel carousel-fade">
        <div class="carousel-inner">
            <div class="item active">
                <img src="assets/images/slider/car1.jpg" alt="sliderImg">
                <div class="container">
                    <div class="carousel-caption b-slider__info">
                        <input type="text" name="searchCars" id="searchCars" placeholder="Search for car lease here" (input)="onSearchChange($event.target.value)">
                        <div *ngIf="isSearchData && isSearchData == true" id="carsResults">
                            <ul>
                                <li *ngFor="let car of carsResults">
                                    <a *ngIf="car.make_id && !car.model_id" href="" routerLink="cars/listing" [queryParams]="{ make: car.make_id }">{{car.name}}</a>
                                    <a *ngIf="car.make_id && car.model_id" href="" routerLink="cars/details" [queryParams]="{ model: car.model_id }">{{car.name}}</a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
        <a class="carousel-control right" href="#carousel" data-slide="next">
            <span class="fa fa-angle-right m-control-right"></span>
        </a>
        <a class="carousel-control left" href="#carousel" data-slide="prev">
            <span class="fa fa-angle-left m-control-left"></span>
        </a>
    </div>
</section>
<section class="b-search">
    <div class="container">
    <div class="b-search__main wow zoomInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomInUp;">
        <form action="listingsTwo.html" method="POST" class="b-search__main-form">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="m-firstSelects">
                        <div class="col-xs-3">
                            <select name="select1">
                                <option value="0" selected="selected">Any Make</option>
                                <option value="1">Any Make</option>
                                <option value="2">Any Make</option>
                                <option value="3">Any Make</option>
                                <option value="4">Any Make</option>
                            </select>
                            <span class="fa fa-caret-down"></span>
                            
                        </div>
                        <div class="col-xs-3">
                            <select name="select2">
                                <option value="0" selected="selected">Any Model</option>
                                <option value="1">Any Model</option>
                                <option value="2">Any Model</option>
                                <option value="3">Any Model</option>
                            </select>
                            <span class="fa fa-caret-down"></span>
                        </div>
                        <div class="col-xs-2">
                            <select name="select_model">
                                <option value="0" selected="selected">Any Year</option>
                                <option value="1">Any Model</option>
                                <option value="2">Any Model</option>
                                <option value="3">Any Model</option>
                            </select>
                            <span class="fa fa-caret-down"></span>
                        </div>
                        <div class="col-xs-2">
                            <select name="select_year">
                                <option value="0" selected="selected">Any State</option>
                                <option value="1">Any Model</option>
                                <option value="2">Any Model</option>
                                <option value="3">Any Model</option>
                            </select>
                            <span class="fa fa-caret-down"></span>
                        </div>
                        <div class="col-xs-2 b-search__main-form-submit">
                            <!-- <a href="#">Advanced search</a> -->
                            <button type="submit" class="btn m-btn">Search<span class="fa fa-angle-right"></span></button> 
                        </div>                               
                    </div>                            
                </div>                       
            </div>
        </form>
    </div>
</div>
</section>

<section class="b-search hometabs">
    <div class="container">
        <h1 class="wow zoomInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomInUp;">SHOPE BY MAKE</h1>
        <tabset>
            <tab heading="Shop by make" id="tab1">
                <div class="makeLogos row">
                        <ng-container *ngFor="let make of allmakes">
                            <div class="col-md-2" *ngIf="make.logo && make.logo != ''">
                                <a href="#" routerLink="cars/listing" [queryParams]="{ make: make.make_id }"><img src="{{apiImageUrl}}{{make.logo}}"/></a>
                            </div>
                        </ng-container>
                </div>
            </tab>
            <tab heading="Shop By Style">
            </tab>
        </tabset>
    </div>
</section>

<div class="grid-container">
    <div class="grid-item">
        <a href="#" title="Volkswagen Leases - The Best Deals on All Volkswagen Leases">
            <img src="https://crls.io/s/thumb/volkswagen.png?src=brands/logo/volkswagen.png&amp;mode=exact" alt="Volkswagen">
            <strong>Volkswagen</strong>
        </a>
    </div>
    <div class="grid-item">
        <a href="#" title="Volvo Leases - The Best Deals on All Volvo Leases">
            <img src="https://crls.io/s/thumb/volvo.png?src=brands/logo/volvo.png&amp;mode=exact" alt="Volvo">
            <strong>Volvo</strong>
        </a>

    </div>
    <div class="grid-item">
        <a href="#" title="Toyota Leases - The Best Deals on All Toyota Leases">
            <img src="https://crls.io/s/thumb/toyota.png?src=brands/logo/toyota.png&amp;mode=exact" alt="Toyota">
            <strong>Toyota</strong>
        </a>


    </div>
    <div class="grid-item">
        <a href="#" title="MINI Leases - The Best Deals on All MINI Leases">
            <img src="https://crls.io/s/thumb/mini.png?src=brands/logo/mini.png&amp;mode=exact" alt="MINI">
            <strong>MINI</strong>
        </a>

    </div>
    <div class="grid-item">
        <a href="#" title="Lincoln Leases - The Best Deals on All Lincoln Leases">
            <img src="https://crls.io/s/thumb/lincoln.png?src=brands/logo/lincoln.png&amp;mode=exact" alt="Lincoln">
            <strong>Lincoln</strong>
        </a>
    </div>
    <div class="grid-item">

        <a href="#" title="Mazda Leases - The Best Deals on All Mazda Leases">
            <img src="https://crls.io/s/thumb/mazda.png?src=brands/logo/mazda.png&amp;mode=exact" alt="Mazda">
            <strong>Mazda</strong>
        </a>

    </div>
    <div class="grid-item">

        <a href="#" title="Acura Leases - The Best Deals on All Acura Leases">
            <img src="https://crls.io/s/thumb/acura.png?src=brands/logo/acura.png&amp;mode=exact" alt="Acura">
            <strong>Acura</strong>
        </a>
    </div>
    <div class="grid-item">

        <a href="#" title="Alfa Romeo Leases - The Best Deals on All Alfa Romeo Leases">
            <img src="https://crls.io/s/thumb/alfa-romeo.png?src=brands/logo/alfa-romeo.png&amp;mode=exact" alt="Alfa Romeo">
            <strong>Alfa Romeo</strong>
        </a>


    </div>
    <div class="grid-item">

        <a href="#" title="Aston Martin Leases - The Best Deals on All Aston Martin Leases">
            <img src="https://crls.io/s/thumb/aston-martin.png?src=brands/logo/aston-martin.png&amp;mode=exact" alt="Aston Martin">
            <strong>Aston Martin</strong>
        </a>

    </div>

    <div class="grid-item">

        <a href="#" title="Land Rover Leases - The Best Deals on All Land Rover Leases">
            <img src="https://crls.io/s/thumb/land-rover.png?src=brands/logo/land-rover.png&amp;mode=exact" alt="Land Rover">
            <strong>Land Rover</strong>
        </a>
    </div>



    <div class="grid-item">
        <a href="#" title="BMW Leases - The Best Deals on All BMW Leases">
            <img src="https://crls.io/s/thumb/bmw.png?src=brands/logo/bmw.png&amp;mode=exact" alt="BMW">
            <strong>BMW</strong>
        </a>

    </div>


    <div class="grid-item">
        <a href="#" title="Ford Leases - The Best Deals on All Ford Leases">
            <img src="https://crls.io/s/thumb/ford.png?src=brands/logo/ford.png&amp;mode=exact" alt="Ford">
            <strong>Ford</strong>
        </a>
    </div>

    <div class="grid-item">
        <a href="#" title="Porsche Leases - The Best Deals on All Porsche Leases">
            <img src="https://crls.io/s/thumb/porsche.png?src=brands/logo/porsche.png&amp;mode=exact" alt="Porsche">
            <strong>Porsche</strong>
        </a>

    </div>


    <div class="grid-item">
        <a href="#" title="Mitsubishi Leases - The Best Deals on All Mitsubishi Leases">
            <img src="https://crls.io/s/thumb/mitsubishi.png?src=brands/logo/mitsubishi.png&amp;mode=exact" alt="Mitsubishi">
            <strong>Mitsubishi</strong>
        </a>

    </div>


    <div class="grid-item">
        <a href="#" title="Jaguar Leases - The Best Deals on All Jaguar Leases">
            <img src="https://crls.io/s/thumb/jaguar.png?src=brands/logo/jaguar.png&amp;mode=exact" alt="Jaguar">
            <strong>Jaguar</strong>
        </a>
    </div>


    <div class="grid-item">

        <a href="#" title="Rolls-Royce Leases - The Best Deals on All Rolls-Royce Leases">
            <img src="https://crls.io/s/thumb/rolls-royce.png?src=brands/logo/rolls-royce.png&amp;mode=exact" alt="Rolls-Royce">
            <strong>Rolls-Royce</strong>
        </a>

    </div>

    <div class="grid-item">


        <a href="#" title="Genesis Leases - The Best Deals on All Genesis Leases">
            <img src="https://crls.io/s/thumb/genesis.png?src=brands/logo/genesis.png&amp;mode=exact" alt="Genesis">
            <strong>Genesis</strong>
        </a>

    </div>

    <div class="grid-item">

        <a href="#" title="Chrysler Leases - The Best Deals on All Chrysler Leases">
            <img src="https://crls.io/s/thumb/chrysler.png?src=brands/logo/chrysler.png&amp;mode=exact" alt="Chrysler">
            <strong>Chrysler</strong>
        </a>
    </div>




</div>

<section class="b-featured">
    <div class="container">
        <h2 class="s-title wow zoomInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomInUp;">Featured Vehicles</h2>
        <div id="carousel-small" class="owl-carousel enable-owl-carousel owl-theme" data-items="4" data-navigation="true" data-auto-play="true"
            data-stop-on-hover="true" data-items-desktop="4" data-items-desktop-small="4" data-items-tablet="3" data-items-tablet-small="2"
            style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer">
                <div class="owl-wrapper" style="width: 4560px; left: 0px; display: block; transition: all 800ms ease; transform: translate3d(-570px, 0px, 0px);">
                    <div class="owl-item" style="width: 285px;">
                        <div>
                            <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: rotateIn;">
                                <a href="detail.html">
                                    <img src="assets/images/cars/mers.jpg" alt="mers">
                                    <span class="m-premium">Premium</span>
                                </a>
                                <div class="b-featured__item-price">
                                    $184,900
                                </div>
                                <div class="clearfix"></div>
                                <h5>
                                    <a href="detail.html">MERCEDES-AMG GT / GT S</a>
                                </h5>
                                <div class="b-featured__item-count">
                                    <span class="fa fa-tachometer"></span>35,000 KM</div>
                                <div class="b-featured__item-links">
                                    <a href="#">Used</a>
                                    <a href="#">2014</a>
                                    <a href="#">Manual</a>
                                    <a href="#">Orange</a>
                                    <a href="#">Petrol</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 285px;">
                        <div>
                            <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: rotateIn;">
                                <a href="detail.html">
                                    <img src="assets/images/cars/audi.jpg" alt="audi">
                                </a>
                                <div class="b-featured__item-price">
                                    $95,900
                                </div>
                                <div class="clearfix"></div>
                                <h5>
                                    <a href="detail.html">AUDI R8 SPYDER V-8</a>
                                </h5>
                                <div class="b-featured__item-count">
                                    <span class="fa fa-tachometer"></span>0.00 KM</div>
                                <div class="b-featured__item-links">
                                    <a href="#">Used</a>
                                    <a href="#">2015</a>
                                    <a href="#">Manual</a>
                                    <a href="#">Orange</a>
                                    <a href="#">Petrol</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 285px;">
                        <div>
                            <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: rotateIn;">
                                <a href="detail.html">
                                    <img src="assets/images/cars/aston.jpg" alt="aston">
                                    <span class="m-leasing">LEASING AVAILABLE</span>
                                </a>
                                <div class="b-featured__item-price">
                                    $101,025
                                </div>
                                <div class="clearfix"></div>
                                <h5>
                                    <a href="detail.html">ASTON MARTIN VANTAGE</a>
                                </h5>
                                <div class="b-featured__item-count">
                                    <span class="fa fa-tachometer"></span>35,000 KM</div>
                                <div class="b-featured__item-links">
                                    <a href="#">Used</a>
                                    <a href="#">2014</a>
                                    <a href="#">Manual</a>
                                    <a href="#">Orange</a>
                                    <a href="#">Petrol</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 285px;">
                        <div>
                            <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: rotateIn;">
                                <a href="detail.html">
                                    <img src="assets/images/cars/jaguar.jpg" alt="jaguar">
                                </a>
                                <div class="b-featured__item-price">
                                    $130,825
                                </div>
                                <div class="clearfix"></div>
                                <h5>
                                    <a href="detail.html">JAGUAR F-TYPE R</a>
                                </h5>
                                <div class="b-featured__item-count">
                                    <span class="fa fa-tachometer"></span>0.00</div>
                                <div class="b-featured__item-links">
                                    <a href="#">Used</a>
                                    <a href="#">2015</a>
                                    <a href="#">Manual</a>
                                    <a href="#">Orange</a>
                                    <a href="#">Petrol</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 285px;">
                        <div>
                            <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: rotateIn;">
                                <a href="detail.html">
                                    <img src="assets/images/cars/mers.jpg" alt="mers">
                                    <span class="m-premium">Premium</span>
                                </a>
                                <div class="b-featured__item-price">
                                    $184,900
                                </div>
                                <div class="clearfix"></div>
                                <h5>
                                    <a href="detail.html">MERCEDES-AMG GT / GT S</a>
                                </h5>
                                <div class="b-featured__item-count">
                                    <span class="fa fa-tachometer"></span>35,000 KM</div>
                                <div class="b-featured__item-links">
                                    <a href="#">Used</a>
                                    <a href="#">2014</a>
                                    <a href="#">Manual</a>
                                    <a href="#">Orange</a>
                                    <a href="#">Petrol</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 285px;">
                        <div>
                            <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: rotateIn;">
                                <a href="detail.html">
                                    <img src="assets/images/cars/audi.jpg" alt="audi">
                                </a>
                                <div class="b-featured__item-price">
                                    $95,900
                                </div>
                                <div class="clearfix"></div>
                                <h5>
                                    <a href="detail.html">AUDI R8 SPYDER V-8</a>
                                </h5>
                                <div class="b-featured__item-count">
                                    <span class="fa fa-tachometer"></span>0.00 KM</div>
                                <div class="b-featured__item-links">
                                    <a href="#">Used</a>
                                    <a href="#">2015</a>
                                    <a href="#">Manual</a>
                                    <a href="#">Orange</a>
                                    <a href="#">Petrol</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 285px;">
                        <div>
                            <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: rotateIn;">
                                <a href="detail.html">
                                    <img src="media/186x113/aston.jpg" alt="aston">
                                    <span class="m-leasing">LEASING AVAILABLE</span>
                                </a>
                                <div class="b-featured__item-price">
                                    $101,025
                                </div>
                                <div class="clearfix"></div>
                                <h5>
                                    <a href="detail.html">ASTON MARTIN VANTAGE</a>
                                </h5>
                                <div class="b-featured__item-count">
                                    <span class="fa fa-tachometer"></span>35,000 KM</div>
                                <div class="b-featured__item-links">
                                    <a href="#">Used</a>
                                    <a href="#">2014</a>
                                    <a href="#">Manual</a>
                                    <a href="#">Orange</a>
                                    <a href="#">Petrol</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 285px;">
                        <div>
                            <div class="b-featured__item wow rotateIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: rotateIn;">
                                <a href="detail.html">
                                    <img src="media/186x113/jaguar.jpg" alt="jaguar">
                                </a>
                                <div class="b-featured__item-price">
                                    $130,825
                                </div>
                                <div class="clearfix"></div>
                                <h5>
                                    <a href="detail.html">JAGUAR F-TYPE R</a>
                                </h5>
                                <div class="b-featured__item-count">
                                    <span class="fa fa-tachometer"></span>0.00</div>
                                <div class="b-featured__item-links">
                                    <a href="#">Used</a>
                                    <a href="#">2015</a>
                                    <a href="#">Manual</a>
                                    <a href="#">Orange</a>
                                    <a href="#">Petrol</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>







            <div class="owl-controls clickable">
                <div class="owl-buttons">
                    <div class="owl-prev"></div>
                    <div class="owl-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section  class="container">
    <div class="mb-3">
        <h2 class="col-lg-12 pb-3 text-center display-1">Find used cars for sale near you</h2>
        <div class="seo-column-count">
            <div>
                <ul class="list-unstyled small">
                    <li>
                        <a href="#">Used Cars For Sale in New York, NY</a>
                    </li>
                    <li>
                        <a href="#">Used Cars For Sale in Los Angeles, CA</a>
                    </li>
                    <li>
                        <a href="#">Used Cars For Sale in Chicago, IL</a>
                    </li>
                    <li>
                        <a href="#">Used Cars For Sale in Houston, TX</a>
                    </li>
                    <li>
                        <a href="#">Used Cars For Sale in Phoenix, AZ</a>
                    </li>
                    <li>
                        <a href="#">Used Cars For Sale in Santa Monica, CA</a>
                    </li>
                    <li>
                        <a href="#">Used Cars For Sale in Philadelphia, PA</a>
                    </li>
                    <li>
                        <a href="#">Used Cars For Sale in San Antonio, TX</a>
                    </li>
                    <li>
                        <a href="#">Used Cars For Sale in San Diego, CA</a>
                    </li>
                    <li>
                        <a href="#">Used Cars For Sale in Dallas, TX</a>
                    </li>
                    <li>
                        <a href="#">Used Cars For Sale in San Jose, CA</a>
                    </li>
                    <li>
                        <a href="#">Used Cars For Sale in Austin, TX</a>
                    </li>
                    <li>
                        <a href="#">Used Cars For Sale in Jacksonville, FL</a>
                    </li>
                    <li>
                        <a href="#">Used Cars For Sale in San Francisco, CA</a>
                    </li>
                    <li>
                        <a href="#">Used Cars For Sale in Columbus, OH</a>
                    </li>
                    <li>
                        <a href="#">Used Cars For Sale in Indianapolis, IN</a>
                    </li>
                    <li>
                        <a href="#">Used Cars For Sale in Fort Worth, TX</a>
                    </li>
                    <li>
                        <a href="#">Used Cars For Sale in Charlotte, NC</a>
                    </li>
                    <li>
                        <a href="#">Used Cars For Sale in Seattle, WA</a>
                    </li>
                    <li>
                        <a href="#">Used Cars For Sale in Denver, CO</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h2 class="col-lg-12 pb-3 text-center display-1">Most Popular Vehicles</h2>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <div>
                <p class="font-weight-bold mb-0_5">Popular New Cars</p>
                <ul class="list-unstyled small">
                    <li>
                        <a href="#">New Chevrolet Cruze</a>
                    </li>
                    <li>
                        <a href="#">New Chevrolet Equinox</a>
                    </li>
                    <li>
                        <a href="#">New Chevrolet Malibu</a>
                    </li>
                    <li>
                        <a href="#">New Chevrolet Silverado 1500</a>
                    </li>
                    <li>
                        <a href="#">New Chevrolet Silverado 2500HD</a>
                    </li>
                    <li>
                        <a href="#">New Ford Edge</a>
                    </li>
                    <li>
                        <a href="#">New Ford Escape</a>
                    </li>
                    <li>
                        <a href="#">New Ford Explorer</a>
                    </li>
                    <li>
                        <a href="#">New Ford F-150</a>
                    </li>
                    <li>
                        <a href="#">New Ford F-250 Super Duty</a>
                    </li>
                    <li>
                        <a href="#">New Ford Focus</a>
                    </li>
                    <li>
                        <a href="#">New Ford Fusion</a>
                    </li>
                    <li>
                        <a href="#">New GMC Sierra 1500</a>
                    </li>
                    <li>
                        <a href="#">New Honda Accord</a>
                    </li>
                    <li>
                        <a href="#">New Honda CR-V</a>
                    </li>
                    <li>
                        <a href="#">New Honda Civic</a>
                    </li>
                    <li>
                        <a href="#">New Hyundai Elantra</a>
                    </li>
                    <li>
                        <a href="#">New Hyundai Sonata</a>
                    </li>
                    <li>
                        <a href="#">New Jeep Cherokee</a>
                    </li>
                    <li>
                        <a href="#">New Jeep Grand Cherokee</a>
                    </li>
                    <li>
                        <a href="#">New Jeep Patriot</a>
                    </li>
                    <li>
                        <a href="#">New Jeep Renegade</a>
                    </li>
                    <li>
                        <a href="#">New Nissan Altima</a>
                    </li>
                    <li>
                        <a href="#">New Nissan Rogue</a>
                    </li>
                    <li>
                        <a href="#">New Nissan Sentra</a>
                    </li>
                    <li>
                        <a href="#">New Ram 1500</a>
                    </li>
                    <li>
                        <a href="#">New Ram 2500</a>
                    </li>
                    <li>
                        <a href="#">New Toyota Camry</a>
                    </li>
                    <li>
                        <a href="#">New Toyota Corolla</a>
                    </li>
                    <li>
                        <a href="#">New Toyota RAV4</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div>
                <p class="font-weight-bold mb-0_5">Popular Sedans</p>
                <ul class="list-unstyled small">
                    <li>
                        <a href="#">Used BMW 3 Series</a>
                    </li>
                    <li>
                        <a href="#">Used BMW 5 Series</a>
                    </li>
                    <li>
                        <a href="#">Used Chevrolet Cruze</a>
                    </li>
                    <li>
                        <a href="#">Used Chevrolet Impala</a>
                    </li>
                    <li>
                        <a href="#">Used Chevrolet Malibu</a>
                    </li>
                    <li>
                        <a href="#">Used Chrysler 200</a>
                    </li>
                    <li>
                        <a href="#">Used Chrysler 300</a>
                    </li>
                    <li>
                        <a href="#">Used Dodge Charger</a>
                    </li>
                    <li>
                        <a href="#">Used Ford Fusion</a>
                    </li>
                    <li>
                        <a href="#">Used Ford Taurus</a>
                    </li>
                    <li>
                        <a href="#">Used Honda Accord</a>
                    </li>
                    <li>
                        <a href="#">Used Honda Civic</a>
                    </li>
                    <li>
                        <a href="#">Used Hyundai Elantra</a>
                    </li>
                    <li>
                        <a href="#">Used Hyundai Sonata</a>
                    </li>
                    <li>
                        <a href="#">Used Kia Optima</a>
                    </li>
                    <li>
                        <a href="#">Used Mercedes-Benz C-Class</a>
                    </li>
                    <li>
                        <a href="#">Used Mercedes-Benz E-Class</a>
                    </li>
                    <li>
                        <a href="#">Used Nissan Altima</a>
                    </li>
                    <li>
                        <a href="#">Used Nissan Sentra</a>
                    </li>
                    <li>
                        <a href="#">Used Toyota Camry</a>
                    </li>
                    <li>
                        <a href="#">Used Toyota Corolla</a>
                    </li>
                    <li>
                        <a href="#">Used Volkswagen Jetta</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div>
                <p class="font-weight-bold mb-0_5">Popular SUVs</p>
                <ul class="list-unstyled small">
                    <li>
                        <a href="#">Used Chevrolet Equinox</a>
                    </li>
                    <li>
                        <a href="#">Used Chevrolet Tahoe</a>
                    </li>
                    <li>
                        <a href="#">Used Ford Explorer</a>
                    </li>
                    <li>
                        <a href="#">Used Jeep Grand Cherokee</a>
                    </li>
                    <li>
                        <a href="#">Used Jeep Wrangler</a>
                    </li>
                </ul>
            </div>
            <div>
                <p class="font-weight-bold mb-0_5">Popular Pickup Trucks</p>
                <ul class="list-unstyled small">
                    <li>
                        <a href="#">Used Chevrolet Silverado 1500</a>
                    </li>
                    <li>
                        <a href="#">Used Ram 1500</a>
                    </li>
                    <li>
                        <a href="#">Used Ford F-150</a>
                    </li>
                    <li>
                        <a href="#">Used Ford F-250 Super Duty</a>
                    </li>
                    <li>
                        <a href="#">Used GMC Sierra 1500</a>
                    </li>
                    <li>
                        <a href="#">Used Toyota Tacoma</a>
                    </li>
                    <li>
                        <a href="#">Used Toyota Tundra</a>
                    </li>
                </ul>
            </div>
            <div>
                <p class="font-weight-bold mb-0_5">Popular Minivans</p>
                <ul class="list-unstyled small">
                    <li>
                        <a href="#">Used Chrysler Town &amp; Country</a>
                    </li>
                    <li>
                        <a href="#">Used Dodge Grand Caravan</a>
                    </li>
                </ul>
            </div>
            <div>
                <p class="font-weight-bold mb-0_5">Popular Hatchbacks</p>
                <ul class="list-unstyled small">
                    <li>
                        <a href="#">Used Ford Focus</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div>
                <p class="font-weight-bold mb-0_5">Popular Crossovers</p>
                <ul class="list-unstyled small">
                    <li>
                        <a href="#">Used Chevrolet Traverse</a>
                    </li>
                    <li>
                        <a href="#">Used Ford Edge</a>
                    </li>
                    <li>
                        <a href="#">Used Ford Escape</a>
                    </li>
                    <li>
                        <a href="#">Used GMC Acadia</a>
                    </li>
                    <li>
                        <a href="#">Used GMC Terrain</a>
                    </li>
                    <li>
                        <a href="#">Used Honda CR-V</a>
                    </li>
                    <li>
                        <a href="#">Used Hyundai Santa Fe</a>
                    </li>
                    <li>
                        <a href="#">Used Kia Sorento</a>
                    </li>
                    <li>
                        <a href="#">Used Nissan Rogue</a>
                    </li>
                    <li>
                        <a href="#">Used Toyota RAV4</a>
                    </li>
                </ul>
            </div>
            <div>
                <p class="font-weight-bold mb-0_5">Popular Convertibles</p>
                <ul class="list-unstyled small">
                    <li>
                        <a href="#">Used Chevrolet Camaro</a>
                    </li>
                </ul>
            </div>
            <div>
                <p class="font-weight-bold mb-0_5">Popular Coupes</p>
                <ul class="list-unstyled small">
                    <li>
                        <a href="#">Used Ford Mustang</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<br><br>
<section class="b-welcome">
    <div class="container">
        <div class="row">
            <div class="b-welcome__services">
                <div class="col-md-3 col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 m-padding">
                            <div class="b-welcome__services-auto wow zoomInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomInLeft;">
                                <div class="b-welcome__services-img m-auto">
                                    <span class="fa fa-cab"></span>
                                </div>
                                <h3>AUTO LOANS</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 text-right visible-md visible-lg">
                            <div class="m-circle wow slideInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: slideInRight;">
                                <span class="b-welcome__services-circle"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 m-padding">
                            <div class="b-welcome__services-buying wow zoomInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomInLeft;">
                                <div class="b-welcome__services-img m-buying">
                                    <span class="fa fa-book"></span>
                                </div>
                                <h3>Buying guide</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="b-welcome__text wow zoomInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomInUp;">
                    <h2>WORLD'S LEADING CAR DEALER</h2>
                    <h3>WELCOME TO AUTOCLUB</h3>
                    <p>Curabitur libero. Donec facilisis velit eudsl est. Phasellus consequat. Aenean vita quam. Vivamus et
                        nunc. Nunc consequat sem velde metus imperdiet lacinia. Dui estter neque molestie necd dignissim
                        ac hendrerit quis purus. Etiam sit amet vec convallis massa scelerisque mattis. Sed placerat leo
                        nec.</p>
                    <p>Ipsum midne ultrices magn eu tempor quam dolor eustrl sem. Donec quis dolel Donec pede quam placerat
                        alterl tristique faucibus posuere lobortis.</p>
                    <ul>
                        <li>
                            <span class="fa fa-check"></span>Donec facilisis velit eu est phasellus consequat </li>
                        <li>
                            <span class="fa fa-check"></span>Aenean vitae quam. Vivamus et nunc nunc consequat</li>
                        <li>
                            <span class="fa fa-check"></span>Sem vel metus imperdiet lacinia enean </li>
                        <li>
                            <span class="fa fa-check"></span>Dapibus aliquam augue fusce eleifend quisque tels</li>
                    </ul>
                </div>
            </div>
            <div class="b-welcome__services">
                <div class="col-md-3 col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 m-padding">
                            <div class="b-welcome__services-trade wow zoomInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomInRight;">
                                <div class="b-welcome__services-img m-trade">
                                    <span class="fa fa-male"></span>
                                </div>
                                <h3>Trade-Ins</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 text-left visible-md visible-lg">
                            <div class="m-circle pull-right wow slideInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: slideInLeft;">
                                <span class="b-welcome__services-circle m-left"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 m-padding">
                            <div class="b-welcome__services-support wow zoomInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomInRight;">
                                <div class="b-welcome__services-img m-support">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        width="45px" height="45px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;"
                                        xml:space="preserve">
                                        <g>
                                            <path d="M257.938,336.072c0,17.355-14.068,31.424-31.423,31.424c-17.354,0-31.422-14.068-31.422-31.424
                                                c0-17.354,14.068-31.423,31.422-31.423C243.87,304.65,257.938,318.719,257.938,336.072z M385.485,304.65
                                                c-17.354,0-31.423,14.068-31.423,31.424c0,17.354,14.069,31.422,31.423,31.422c17.354,0,31.424-14.068,31.424-31.422
                                                C416.908,318.719,402.84,304.65,385.485,304.65z M612,318.557v59.719c0,29.982-24.305,54.287-54.288,54.287h-39.394
                                                C479.283,540.947,379.604,606.412,306,606.412s-173.283-65.465-212.318-173.85H54.288C24.305,432.562,0,408.258,0,378.275v-59.719
                                                c0-20.631,11.511-38.573,28.46-47.758c0.569-84.785,25.28-151.002,73.553-196.779C149.895,28.613,218.526,5.588,306,5.588
                                                c87.474,0,156.105,23.025,203.987,68.43c48.272,45.777,72.982,111.995,73.553,196.779C600.489,279.983,612,297.925,612,318.557z
                                                M497.099,336.271c0-13.969-0.715-27.094-1.771-39.812c-24.093-22.043-67.832-38.769-123.033-44.984
                                                c7.248,8.15,13.509,18.871,17.306,32.983c-33.812-26.637-100.181-20.297-150.382-79.905c-2.878-3.329-5.367-6.51-7.519-9.417
                                                c-0.025-0.035-0.053-0.062-0.078-0.096l0.006,0.002c-8.931-12.078-11.976-19.262-12.146-11.31
                                                c-1.473,68.513-50.034,121.925-103.958,129.46c-0.341,7.535-0.62,15.143-0.62,23.08c0,28.959,4.729,55.352,12.769,79.137
                                                c30.29,36.537,80.312,46.854,124.586,49.59c8.219-13.076,26.66-22.205,48.136-22.205c29.117,0,52.72,16.754,52.72,37.424
                                                c0,20.668-23.604,37.422-52.72,37.422c-22.397,0-41.483-9.93-49.122-23.912c-30.943-1.799-64.959-7.074-95.276-21.391
                                                C198.631,535.18,264.725,568.41,306,568.41C370.859,568.41,497.099,486.475,497.099,336.271z M550.855,264.269
                                                C547.4,116.318,462.951,38.162,306,38.162S64.601,116.318,61.145,264.269h20.887c7.637-49.867,23.778-90.878,48.285-122.412
                                                C169.37,91.609,228.478,66.13,306,66.13c77.522,0,136.63,25.479,175.685,75.727c24.505,31.533,40.647,72.545,48.284,122.412
                                                H550.855L550.855,264.269z"></path>
                                        </g>
                                    </svg>
                                </div>
                                <h3>24/7 support</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>