<section class="b-pageHeader">
  <div class="container">
    <h1 class="wow zoomInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomInLeft;">My Dashboard</h1>
  </div>
</section>







<section class="b-contacts s-shadow">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">

        <nav class="nav nav-pills nav-fill links-container">
          <a class="nav-item nav-link links" (click)="changeComponent('approval')">Dealer Approval</a>
          <a class="nav-item nav-link links" (click)="changeComponent('modification')">Car Modification</a>
          <a class="nav-item nav-link links" (click)="changeComponent('dealers')">Add New Dealers</a>
        </nav>





      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div *ngIf="componentActive === 'approval'">
          <app-aprrove-dealers></app-aprrove-dealers>
        </div>

        <div *ngIf="componentActive === 'modification'">
          <app-carmodification></app-carmodification>
        </div>

        <div *ngIf="componentActive === 'dealers'">
          <app-adddealeradmin></app-adddealeradmin>
        </div>
        <div *ngIf="componentActive === 'none'">
          <p>Welcome to Your Dashboard</p>
        </div>
      </div>
    </div>
  </div>
</section>
